{{template "base" .}}

{{define "content"}}

<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1>This will be the Contact Page</h1>
		</div>
	</div>
		<div class="row">
			<div class="col text-center">
				<a href="/reservations" class="btn btn-primary">Reserve Now</a>
			</div>
		</div>
	</div>
</div>
{{end}}