{{template "base" .}}

{{define "content"}}
<div class="container">
	<div class="row">
		<div class="col">
			<img src="/static/images/generals-quarters.png" class="img-fluid mx-auto d-block room-image" alt="room image">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1 class="text-center mt-3"> General's Quarters</h1>
			<p class="text-center">Your home away from home, overlooking the beautiful Pacific Ocean. 
		</div>
		<div class="row">
			<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
			</p>
		</div>
		<div class="row">
			<div class="col text-center">
				<a id="availabilityButton" href="#!" class="btn btn-primary">Check Avalibility</a>
			</div>
		</div>
	</div>
</div>

{{end}}

{{define "js"}}
<script>
	document.getElementById("availabilityButton").addEventListener("click", function() {
	let html =`
	<form id="check-avalibility-form" action="" method="post" novalidate class="needs-validation"> 
		<div class="row" id="reservation-dates-modal">
			<div class="col-md-6">
				<input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
			</div>
			<div class="col-md-6">
				<input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
			</div>
		</div>
	</form>
	`
	attention.custom({
		msg: html, 
		title: "Search Avalibility",
		
		willOpen: () => {
			const elem = document.getElementById('reservation-dates-modal');
			const rp = new DateRangePicker(elem, {
				format: 'yyyy-mm-dd',
				showOnFocus: true,
			})
		},

		didOpen: () => {
			document.getElementById("start").removeAttribute('disabled');
			document.getElementById('end').removeAttribute('disabled');
		},

		callback: function(result){
			console.log("called");

			let form = document.getElementById("check-avalibility-form");
			let formData = new FormData(form);
			formData.append("csrf_token", "{{.CSRFToken}}");


			fetch('/search-availability-json', {
				method: "post",
				body: formData,
			})
				.then(response => response.json())
				.then(data => {
					console.log(data);
					console.log(data.ok);
					console.log(data.message);
				})
		}
	});
	})	
</script>
{{end}}